.site-footer {
  position: relative;
  padding: 1em;
  font-family: $font__roboto;
  color:#fff;
  background-color: $color__text-screen;

  @media screen and (min-width: $query__small) {
    padding: 1em 2em;
  }
}
.menu-social-container {
  ul {
    display: flex;
    justify-content: center;  
    list-style-type: none;
    margin: 0 auto;
    padding:0;

    li {

      a {
        display: block;
        padding: .4em 1em;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
