/* Foundry Color Pallete */
$color__dark-gray: #404040;
$color__med-gray: #5d5d5d;
$color__gray: #a0a0a0;
$color__light-gray: #c4c4c4;
$color__extra-light-gray: #cfcfcf;
$color__orange: #e65526;
$color__dark-sand: #877e6e;
$color__sand: #f1f0ea;
$color__purple: #271f26;

/* Main Template color usage */
$color__skin: #f1f0ea;

$color__background-header: #f1f0ea;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e65526;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: #f1f0ea;

$color__text-screen: #271f26;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #271f26;
$color__link-visited: #877e6e;
$color__link-hover: #e65526;
$color__text-main: #271f26;
$color__text-h1: #404040;
$color__text-h2: #404040;
$color__foundry-orange: #e65526;
$color__interactive: #e65526;

$color__border-button: #e65526;
$color__border-button-hover: #e65526;
$color__border-button-focus: #e65526;
$color__border-input: #ccc;
$color__border-abbr: #666;

