$size__max-width: 1400px;

$size__ratio-small: 30%;
$size__ratio-large: 60%;

$size__site-main: 100%;
$size__site-sidebar: 25%;

// Media Query Breakpoints
$query__xsmall: 300px;
$query__small: 700px;
$query__medium: 900px;
$query__large: 1200px;
$query__xlarge: 1600px;